node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
.ipynb_checkpoints/
*.ipynb
*.log
*.zip
*.pdf
*.docx
*.doc
*.pptx
*.png
*.jpg
*.jpeg
*.gif
unpacked_docx/
.gemini/
.env
